--

In [3]:
import pandas as pd
import numpy as np

from scipy import stats

-------Overview --------------------------------



For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?
Yes

Is the website redesign any good?

Yes
Is our television ad driving more sales?

No

-------T-Testing------


1  Answer with the type of test you would use (assume normal distribution):

Is there a difference in grades of students on the second floor compared to grades of all students?

mean

In [ ]:
office_1 = stats.norm(90, 15).rvs(40)
office_2 = stats.norm(100, 20).rvs(50)

x = np.arange(40, 150)
y1 = stats.norm(90, 15).pdf(x)
y2 = stats.norm(100, 20).pdf(x)
plt.plot(x, y1, label='office 1')
plt.plot(x, y2, label = 'office 2')
plt.axvline(90, ls=':')
plt.axvline(100, ls=':', color='orange')
plt.legend()
plt.show()


Are adults who drink milk taller than adults who dont drink milk?

average

Is the price of gas higher in texas or in new mexico?

averege
Are there differences in stress levels between students who take data science vs students who take web development vs students who take cloud academy?

mean


2   Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [ ]:
def average_offices(df, office1, office2):
    df = df.loc[df['office'] == office1]
    df = df.loc[df['office'] == office2]



3 Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
Are compact cars more fuel-efficient than the average car?
Do manual cars get better gas mileage than automatic cars?

In [ ]:
def load_mpg_data():
    return pd.read_sql('SELECT * FROM mpg', get_db_url('mpg'))




-------------------------------------- Coorelation --------------------------------
1 Answer with the type of stats test you would use (assume normal distribution):
Is there a relationship between the length of your arm and the length of your foot?
Do guys and gals quit their jobs at the same rate?
Does the length of time of the lecture correlate with a students grade?

In [ ]:
length_arm  = x
length_foot = y
relationship = x/y

men_quit_rate = x
women_quit_rate = y
relationship = x/y




2  Use the telco_churn data.
Does tenure correlate with monthly charges?
correlation

Total charges?

sum
What happens if you control for phone and internet service?

Compare


3  Use the employees database.
Is there a relationship between how long an employee has been with the company and their salary?

compare and correlation

Is there a relationship between how long an employee has been with the company and the number of titles they have had?

compare and correlation

4  Use the sleepstudy data.
Is there a relationship between days and reaction time?


compare and correlation

-----CHI Square---------- -------------------------------



1  Answer with the type of stats test you would use (assume normal distribution):

Do students get better test grades if they have a rubber duck on their desk?

: there is no association between being a codeup student and using a duck

: there is a association between being a codeup student and using a duck

Does smoking affect when or not someone has lung cancer?

: there is no association between smoking and lung cancer and

: there is a association between smoking and lung cancer

Is gender independent of a personâ€™s blood type?

yes

A farming company wants to know if a new fertilizer has improved crop yield or not
: there is no association between fertilizer and crop yeild
: there is an association between fertilizer and crop yeild

Does the length of time of the lecture correlate with a students grade?
: there is no association between time of the lecture correlate with a students grade

Do people with dogs live in apartments more than people with cats?

: there is no association between fertilizer and crop yeild
: there is an association between fertilizer and crop yeild

2  Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

 	Codeup Student	Not Codeup Student
Uses a Macbook	49	20
Doesn't Use A Macbook	1	30

In [1]:
observed = [[49,20],[1,30]]
observed

[[49, 20], [1, 30]]

In [2]:
observed = pd.DataFrame(observed)
observed

NameError: name 'pd' is not defined



3   Choose another 2 categorical variables from the mpg dataset and perform a
c
h
i
2
 contingency table test with them. Be sure to state your null and alternative hypotheses.


chi2, p, degf, expected = stats.chi2_contingency(observed)

if p < alpha:
    print('We reject the null hypothesis')
else:
    print('We fail to reject the null hypothesis')

4  Use the data from the employees database to answer these questions:
url = env.get_db_url('employees')


Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

query = '''
        select emp_no, gender, dept_name
        from employees
            join dept_emp
                using (emp_no)
            join departments
                using (dept_no)
        where to_date = '9999-01-01'
        and dept_name in ('Marketing','Sales')
        '''


Is an employee's gender independent of whether or not they are or have been a manager?
df = pd.read_sql(query, url)
df

-------- More Examples --------------------------------

1  Choose several continous and categorical variables that were not covered in the lesson and perform each type of test on them. You may use another data set if you wish.

In [4]:
df.gender.value_counts()

NameError: name 'df' is not defined

In [5]:
df.dept_name.value_counts()

NameError: name 'df' is not defined

In [6]:
observed = pd.crosstab(df.gender, df.dept_name)
observed

NameError: name 'df' is not defined

In [7]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [8]:
print('Observed')
print(observed.values)
print('\nExpected')
print(expected.astype(int))
print('\n----')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

AttributeError: 'list' object has no attribute 'values'

In [9]:
if p < alpha:
    print('We reject the null hypothesis')
else:
    print('We fail to reject the null hypothesis')

NameError: name 'alpha' is not defined

In [10]:
query = '''
        select emp_no, gender, dept_no
        from employees
            left join dept_manager
                using (emp_no)

SyntaxError: EOF while scanning triple-quoted string literal (257714523.py, line 5)

In [11]:
df = pd.read_sql(query, url)
df

NameError: name 'query' is not defined

In [12]:
df.info()

NameError: name 'df' is not defined

In [13]:
df.dept_no.value_counts(dropna=False)

NameError: name 'df' is not defined

In [14]:
df.dept_no = df.dept_no.fillna('not manager')

NameError: name 'df' is not defined

In [15]:
df.dept_no = np.where( df.dept_no != 'not manager',
                      'manager', 'not manager')

NameError: name 'df' is not defined

In [16]:
df.dept_no.value_counts()

NameError: name 'df' is not defined

In [17]:
observed = pd.crosstab(df.gender, df.dept_no)
observed

NameError: name 'df' is not defined

In [18]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [19]:
    print('We reject the null hypothesis')
else:
    print("we fail to reject the null hypothesis")

SyntaxError: invalid syntax (26263548.py, line 2)